<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="recipeIngredient">
      <h2 data-cy="recipeIngredientDetailsHeading">
        <span jhiTranslate="gatewayApp.productsRecipeIngredient.detail.title">Recipe Ingredient</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ recipeIngredient.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.productsRecipeIngredient.quantity">Quantity</span></dt>
        <dd>
          <span>{{ recipeIngredient.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.productsRecipeIngredient.product">Product</span></dt>
        <dd>
          <div *ngIf="recipeIngredient.product">
            <a [routerLink]="['/product', recipeIngredient.product?.id, 'view']">{{ recipeIngredient.product?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.productsRecipeIngredient.productUnit">Product Unit</span></dt>
        <dd>
          <div *ngIf="recipeIngredient.productUnit">
            <a [routerLink]="['/product-unit', recipeIngredient.productUnit?.id, 'view']">{{ recipeIngredient.productUnit?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.productsRecipeIngredient.recipe">Recipe</span></dt>
        <dd>
          <div *ngIf="recipeIngredient.recipe">
            <a [routerLink]="['/recipe', recipeIngredient.recipe?.id, 'view']">{{ recipeIngredient.recipe?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/recipe-ingredient', recipeIngredient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
