<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="groceryItem">
      <h2 data-cy="groceryItemDetailsHeading"><span jhiTranslate="gatewayApp.productsGroceryItem.detail.title">Grocery Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ groceryItem.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.productsGroceryItem.quantity">Quantity</span></dt>
        <dd>
          <span>{{ groceryItem.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.productsGroceryItem.description">Description</span></dt>
        <dd>
          <span>{{ groceryItem.description }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.productsGroceryItem.user">User</span></dt>
        <dd>
          <span>{{ groceryItem.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.productsGroceryItem.product">Product</span></dt>
        <dd>
          <div *ngIf="groceryItem.product">
            <a [routerLink]="['/product', groceryItem.product?.id, 'view']">{{ groceryItem.product?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.productsGroceryItem.unit">Unit</span></dt>
        <dd>
          <div *ngIf="groceryItem.unit">
            <a [routerLink]="['/product-unit', groceryItem.unit?.id, 'view']">{{ groceryItem.unit?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/grocery-item', groceryItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
